<h1>This team/index</h1>
<a href="teams/1">Show you teams</a>
<h1>All Teams</h1>
<style>

table {
  margin: 15px;
  font: 1em 'times';
  border: 1px solid #000;
  border-collapse: collapse;
}
td, th {
  padding: 5px;
  border: 1px solid #000;
}
th {
  font-size: .9em;
  color: #fff;
  background-color: #666;
  text-align: left;
}
tr ~ tr > td:nth-child(2n+1) {
  background: #7cded5;
}
tr ~ tr > td:nth-child(2n) {
  background: #fffd7a;
}

</style>
<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Country</th>
		<th>Rating</th>
		<th>Captain</th>
		<th>Players</th>
	</tr>
 <% @teams.each do |i| %>
	<tr>
		<td><%= i.id %></td>
		<td><%= i.name %></td>
    <td><%= i.country %></td>
    <td><%= i.rating %></td>
    <td><%= i.captainId %></td>
    <td><%= i.playersId %></td>
	</tr>
<% end %>
</table>
