<% if user_signed_in? %>
	<div class="container">
		<div class="cover">
	    <div class="title"><%= _('Create new Team') %></div>
	    <%= form_for Team.new do |i| %>
	
	      <b><%= _('Full Team Name') %></b><br>
	      <%= i.text_field :full_name %><br>
	      <b><%= _('Team Tag / Abbreviation') %></b><br>
	      <br>
	      <b><%= _('Country') %></b><br>
	      <%= i.text_field :country %><br>
	      <b><%= _('Team URL') %></b><br>
	
	    	<p><%= i.submit _('Create Team') %></p>
	
	    <% end %>
	  </div>
	</div>
<% else %>
  <% controller.redirect_to login_path %>
<% end %>
