<% if current_user %>
  <div class="container">
    <div class="title"><%= _('Profile Team') %></div>
    <div class="row">
      <div class="col-sm-3">
        <div class="left-navbar">
          <ul class="list-group">
            <% @teams.each do |i| %>
              <li class="list-group-item"><a href="#"><%= i.full_name %></a></li>
            <% end %>
            <li class="list-group-item"><%= link_to _('Create New Team'), new_team_path %></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="team-profile">
          <div class="team-holder">
            <img src="http://placehold.it/80" class="team-logo-lg">
            <div class="team-description">
              <%= s_('Team|Name') %> <br> <%= _('Country') %>
            </div>
          </div>
          <div class="team-info-holder">
            <div class="statistic"><%= _('Rating') %> <%= _('winrate') %> <%= _('matches') %> <%= _('played') %></div>
            <div class="players">
  						<div class="team-player">
              	<ul class="list-group">
              	  <li class="list-group-item">BlackNigga&nbsp;&nbsp;<span class="label label-primary">Captain</span>
              	  <li class="list-group-item">WhiteNigga</li>
              	  <li class="list-group-item">YellowNigga</li>
              	  <li class="list-group-item">GreenNigga</li>
              	  <li class="list-group-item">BlueNigga</li>
              	</ul>
  						</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <% controller.redirect_to login_path %>
<% end %>
