<div class="container">
  <div class="row">
    <% @turnaments.each do |i| %>
    <div class="col-md-4">
      <div class="turnament">
        <div class="turnament-title"><%= i.title %></div>
        <div class="turnament-info">
          <ul>
            <li>payment-$<%= i.payment %></li>
            <li>teams-6/<%= i.max_team %></li>
            <li>prize-$<%= i.prize %></li>
            <li>date-<%= i.date_turnament.strftime('%d/%m/%Y %H:%M') %></li>
          </ul>
        </div>
        <%= link_to 'Registration', turnament_path(:id => i.id), class: "btn btn-primary btn-reg" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
