<div class="container">
  <div class="title">Create new Turnament</div>
  <br>
	<%= form_for Turnament.new do |i| %>

		<p>Name:			 	 <%= i.text_field :title 							%></p>
		<p>Time_start: 	 <%= i.datetime_field :date_turnament %></p>
		<p>Max Teams:		 <%= i.number_field :max_team 				%></p>
		<p>Paynemt:		 	 <%= i.number_field :payment 					%></p>
		<p>Prize:		 		 <%= i.number_field :prize 						%></p>

		<p><%= i.submit "Create Match" %></p>

	<% end %>
</div>
