		<div class="jumbotron">
		      <div class="container-fluid">
		        <div class="titlebar_left">
							<h2><%= controller.controller_name.humanize %></h2>
						</div>
						<div class="titlebar_right">
							<%= link_to "New", url_for(action: :new), class: "btn btn-info" %>
						</div>
					</div>
		    </div>
    <div class="container-fluid">
      <div class="content">
				<div class="col-sm-9">
					<select>
						<option>Batch action</option>
					</select>
					<table class="table table-striped" id="table">
						<thead>
						    <tr>
									<% @column.each do |col| %>
									<th><%= col.humanize %></th>
									<% end %>
									<th></th>
						    </tr>
						  </thead>
						  <tbody>
								<% @value.each do |value| %>
						    <tr>
									<% @column.each do |col| %>
						      <td><%= value[col] %></td>
									<% end %>
									<td>
										<%= link_to "Show", url_for([:admin, value]) %>
										<%= link_to "Edit", url_for([:edit, :admin, value]) %>
										<%= link_to "Delete", url_for([:admin, value]), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
									</td>
						    </tr>
								<% end %>
						  </tbody>
					</table>
				</div>
				<div class="col-sm-3">Filter</div>
      </div>
    </div>
		<script>
		$(document).ready( function () {
		    $('#table').DataTable();
		} );
		</script>