<div class="jumbotron">
  <div class="container-fluid">
    <div class="titlebar_left">
      <h2><%= controller.controller_name.humanize %></h2>
		</div>
    <div class="titlebar_right">
			<%= link_to "Edit", url_for(action: :edit), class: "btn btn-info" %>
			<%= link_to "Delete", url_for(action: :destroy), class: "btn btn-info", method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
		</div>
  </div>
</div>
<div class="container-fluid">
  <div class="content">
    <div class="col-sm-12">
			<div class="title">Detail</div>
      <div class="well">
				<ul class="list-group">
					<% @column.each do |col| %>
						<li class="list-group-item">
							<div class="row">
								<lable class="col-sm-2"><%= col.humanize %></lable>
					   		<div class="col-sm-10">
									<%= @record[col] %>
					   		</div>
					  	</div>
						</li>
					<% end %>
				</ul>
      </div>
    </div>
  </div>
</div>