<div class="container">
	<div class="row">
		<%= form_for User.new, html: { class: "form-sign", onsubmit: "return validate_form();" } do |i| %>
      <h2 class="form-signup-heading"><%= _('Please sign up') %></h2>
      <%= i.label :name, _('User name') , class: "sr-only" %>
      <%= i.text_field :name, placeholder: _('User name'), required: true, autofocus: true, class: "form-control" %>
      <%= i.label :password, _('Password') , class: "sr-only" %>
      <%= i.password_field :password, placeholder: _('Password'),  required: true, class: "form-control" %>
	  <%= i.password_field :confirm_password, placeholder: _('Confirm Password'),  required: true, class: "form-control" %>

      <%= i.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
	</div>
</div>
<script>
	function validate_form(){

		var success = true;

		var nameReg = /^[A-Za-z]{3,16}$/,
				passwordReg = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z])\S{7,36}$/;

		var name = document.getElementById("user_name"),
				pass = document.getElementById("user_password"),
				pass_conf = document.getElementById("user_confirm_password");

    var elements = document.getElementsByClassName("invalid_error");
    while(elements.length > 0){
        elements[0].parentNode.removeChild(elements[0]);
    }

		if(!nameReg.test(name.value)){
			name.insertAdjacentHTML('afterend', "<div class='invalid_error'><%= _('Name must be between 3 and 16 characters') %></div>");
			success = false;
		}
		if(!passwordReg.test(pass.value)){
			pass.insertAdjacentHTML('afterend', "<div class='invalid_error'><%= _('Passwords must be between 7 and 36 characters, at least 1 number, at least 1 letter, and no whitespace') %></div>");
			success = false;
		}
		if(pass_conf.value != pass.value){
			pass_conf.insertAdjacentHTML('afterend', "<div class='invalid_error'><%= _('Passwords Don\'t Match') %></div>");
			success = false;
		}
		console.log("You must agree to the terms of use.");

		return success

	}
</script>
