<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
			<div class="cover">
    	  <div class="profile">
    	    <div class="title"><%= _('Profile') %></div>
    	    <table class="table table-condensed stats">
    	      <tr>
    	        <td><%= _('Played') %></td>
    	        <td>126</td>
    	      </tr>
    	      <tr>
    	        <td><%= _('Win') %></td>
    	        <td>71(89%)</td>
    	      </tr>
    	      <tr>
    	        <td><%= _('Lose') %></td>
    	        <td>55</td>
    	      </tr>
    	      <tr>
    	        <td>KDA</td>
    	        <td>3.68</td>
    	      </tr>
    	    </table>
    	  </div>
			</div>
			<div class="cover">
				<div>
					<div class="title"><%= _('Teams of player') %></div>
	    	  <% unless current_user == @user || @teams.blank? %>
	    	 	 <div id="pick-team">
	    	     <div class="btn-group btn-input clearfix team-select">
	    	      <button class="btn btn-primary dropdown-toggle form-control" data-toggle="dropdown">
	    	        <span data-bind="label"><%= _('Choose Team') %></span>&nbsp;<span class="caret"></span>
	    	      </button>
	    	      <ul class="dropdown-menu">
							 <% @teams.each do |i| %>
							 	<li><a data-team-id="<%= i.id %>"><%= i.full_name %></a></li>
							 <% end %>
	    	     	</ul>
	    	     </div>
						 <button class="btn btn-primary btn-send" id="send_inv"><%= _('Send') %></button>
	    	  	</div>
	    	  <% end %>
					<% unless @user.teams.blank? %>
		  		  <% @user.teams.each do |i| %>
  						<div class="team-info">
  						  <img src="http://placehold.it/60">
  						  <%= s_('Team|Name') %>: <%= i.full_name %>
  						  <br>
  						  <%= _('Country') %>: <%= i.country %>
  						  <br>
  						  <%= _('Rating') %>: <%= i.rating %>
  						</div>
  	  		  <% end %>
					<% else %>
						<p><%= _('The player has not yet been involved in a team') %></p>
					<% end %>
				</div>
			</div>
		</div>

    <div class="col-md-8">
		<div class="cover">
    	  <div class="result-match">
    	    <div class="title"><%= _('Match history') %></div>
    	    <div class="match">
    	      <div class="match-info">11/04/2016, 04:44<div class="pull-right event">The International</div></div>
    	      <div class="match-main">
    	        <div class="match-left">
    	          <div class="main-team">
    	            <b>Team1</b>
    	            <img src="http://placehold.it/50x50" class="team-logo" style="float: right;"></img>
    	          </div>
    	          <b>VS</b>
    	          <div class="main-team">
    	            <b>Team2</b>
    	            <img src="http://placehold.it/50x50" class="team-logo" style="float: left;"></img>
    	          </div>
    	        </div>
    	        <a class="btn-details glyphicon spoiler"></a>
    	      </div>
    	    	<div class="result-full" style="display:none">
    	    	  <div class="row teams">
    	    	    <div class="col-md-6 team">
    	    	      <table class="table table-condensed team-1">
    	    	        <thead>
    	    	          <tr>
    	    	            <th><%= _('Hero') %></th>
    	    	            <th><%= _('Name') %></th>
    	    	            <th>KDA</th>
    	    	          </tr>
    	    	        </thead>
    	    	        <tbody>
    	    	          <tr>
    	    	            <td>TwinBlast</td>
    	    	            <td>user1</td>
    	    	            <td>1.25</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Feng Mao</td>
    	    	            <td>user2</td>
    	    	            <td>6.75</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Muriel</td>
    	    	            <td>user3</td>
    	    	            <td>4.5</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Rampage</td>
    	    	            <td>user4</td>
    	    	            <td>3.76</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Gideon</td>
    	    	            <td>user5</td>
    	    	            <td>4.68</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td><%= _('Score') %>: 25/52/106</td>
    	    	          </tr>
    	    	        </tbody>
    	    	      </table>
    	    	    </div>
    	    	    <div class="col-md-6 team">
    	    	      <table class="table table-condensed team-1">
    	    	        <thead>
    	    	          <tr>
    	    	            <th><%= _('Hero') %></th>
    	    	            <th><%= _('Name') %></th>
    	    	            <th>KDA</th>
    	    	          </tr>
    	    	        </thead>
    	    	        <tbody>
    	    	          <tr>
    	    	            <td>TwinBlast</td>
    	    	            <td>user1</td>
    	    	            <td>1.25</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Feng Mao</td>
    	    	            <td>user2</td>
    	    	            <td>6.75</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Muriel</td>
    	    	            <td>user3</td>
    	    	            <td>4.5</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Rampage</td>
    	    	            <td>user4</td>
    	    	            <td>3.76</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Gideon</td>
    	    	            <td>user5</td>
    	    	            <td>4.68</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td><%= _('Score') %>: 25/52/106</td>
    	    	          </tr>
    	    	        </tbody>
    	    	      </table>
    	    	    </div>
    	    	  </div>
    	    	</div>
    	    </div>
    	    <div class="match">
    	      <div class="match-info">11/04/2016, 04:44<div class="pull-right event">The International</div></div>
    	      <div class="match-main">
    	        <div class="match-left">
    	          <div class="main-team">
    	            <b>Team1</b>
    	            <img src="http://placehold.it/50x50" class="team-logo" style="float: right;"></img>
    	          </div>
    	          <b>VS</b>
    	          <div class="main-team">
    	            <b>Team2</b>
    	            <img src="http://placehold.it/50x50" class="team-logo" style="float: left;"></img>
    	          </div>
    	        </div>
    	        <a class="btn-details glyphicon spoiler"></a>
    	      </div>
    	    	<div class="result-full" style="display:none">
    	    	  <div class="row teams">
    	    	    <div class="col-md-6 team">
    	    	      <table class="table table-condensed team-1">
    	    	        <thead>
    	    	          <tr>
    	    	            <th><%= _('Hero') %></th>
    	    	            <th><%= _('Name') %></th>
    	    	            <th>KDA</th>
    	    	          </tr>
    	    	        </thead>
    	    	        <tbody>
    	    	          <tr>
    	    	            <td>TwinBlast</td>
    	    	            <td>user1</td>
    	    	            <td>1.25</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Feng Mao</td>
    	    	            <td>user2</td>
    	    	            <td>6.75</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Muriel</td>
    	    	            <td>user3</td>
    	    	            <td>4.5</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Rampage</td>
    	    	            <td>user4</td>
    	    	            <td>3.76</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Gideon</td>
    	    	            <td>user5</td>
    	    	            <td>4.68</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td><%= _('Score') %>: 25/52/106</td>
    	    	          </tr>
    	    	        </tbody>
    	    	      </table>
    	    	    </div>
    	    	    <div class="col-md-6 team">
    	    	      <table class="table table-condensed team-1">
    	    	        <thead>
    	    	          <tr>
    	    	            <th><%= _('Hero') %></th>
    	    	            <th><%= _('Name') %></th>
    	    	            <th>KDA</th>
    	    	          </tr>
    	    	        </thead>
    	    	        <tbody>
    	    	          <tr>
    	    	            <td>TwinBlast</td>
    	    	            <td>user1</td>
    	    	            <td>1.25</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Feng Mao</td>
    	    	            <td>user2</td>
    	    	            <td>6.75</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Muriel</td>
    	    	            <td>user3</td>
    	    	            <td>4.5</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Rampage</td>
    	    	            <td>user4</td>
    	    	            <td>3.76</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td>Gideon</td>
    	    	            <td>user5</td>
    	    	            <td>4.68</td>
    	    	          </tr>
    	    	          <tr>
    	    	            <td><%= _('Score') %>: 25/52/106</td>
    	    	          </tr>
    	    	        </tbody>
    	    	      </table>
    	    	    </div>
    	    	  </div>
    	    	</div>
    	      </div>
			</div>
    	  </div>
		</div>
	  </div>
	</div>
