<!DOCTYPE html>
<html lang="<%= FastGettext.locale %>">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title>Login | <%= Rails.application.class.parent_name.titlecase %></title>
	<%= stylesheet_link_tag 'admin_login', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <div id="login-form">
      <h3>Login</h3>
      <div class="fieldset">
        <%= form_tag admin_login_path do %>
          <h4><%= params[:login] %></h4>
          <% if @admin.encrypted_password.empty? %>
            <b>Enter New Password</b>
          <% end %>
          <%= password_field_tag :password, "", placeholder: "Password" %>
          <%= submit_tag "Login" %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
