<div class="container-fluid">
  <div class="row">
    <% @tournaments.each do |i| %>
    <div class="col-sm-8">
			<div class="tournament-name"><%= link_to i.title, tournament_path(i) %></div>
      <div class="tournament-body">
				<div class="col-xs-12 col-md-4">
					<div class="tournament-img">
						<%= link_to image_tag('paragon1.jpg'), tournament_path(i) %>
						<%=  %>
					</div>
				</div>
				<div class="col-md-8 col-xs-12">
					<div class="tournament-info">
						<%= _('Payment') %> $<%= i.payment %>
						<div class="tournament-title"></div>
						<div class="tournament-date">
							20.01.17
						</div>
					</div>
				</div>
        <!--<div class="tournament-info">
          <table class="table table-condensed tour">
            <tr>
              <td><%= _('Payment') %></td>
              <td>$<%= i.payment %></td>
            </tr>
            <tr>
              <td><%= _('Teams') %></td>
              <td><%= i.teams.size %>/<%= i.max_team %></td>
            </tr>
            <tr>
              <td><%= _('Prize pool') %></td>
              <td>$<%= i.prize_pool %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= i.tournament_begins.strftime('%d/%m/%Y %H:%M') %></td>
            </tr>
          </table>
        </div>-->
      </div>
    </div>
    <% end %>
  </div>
</div>
