<div class="container">
  <div class="row">
    <% @tournaments.each do |i| %>
    <div class="col-md-4 col-sm-6">
      <div class="tournament">
        <div class="tournament-title"><%= i.title %></div>
        <div class="tournament-info">
          <table class="table table-condensed tour">
            <tr>
              <td><%= _('Payment') %></td>
              <td>$<%= i.payment %></td>
            </tr>
            <tr>
              <td><%= _('Teams') %></td>
              <td><%= i.teams.size %>/<%= i.max_team %></td>
            </tr>
            <tr>
              <td><%= _('Prize pool') %></td>
              <td>$<%= i.prize %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= i.tournament_begins.strftime('%d/%m/%Y %H:%M') %></td>
            </tr>
          </table>
        </div>
        <%= link_to _('Registration'), tournament_path(:id => i.id), class: "btn btn-primary btn-reg" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
