<div class="container-fluid">
  <div class="row">
    <% @tournaments.each do |i| %>
    <div class="col-lg-offset-1 col-lg-6 col-sm-8">
			<div class="tournament-name"><%= link_to i.title, tournament_path(i) %></div>
      <div class="tournament-body">
				<div class="col-xs-12 col-md-4">
					<div class="tournament-img">
						<%= link_to image_tag('paragon1.jpg'), tournament_path(i) %>
						<%=  %>
					</div>
				</div>
				<div class="col-md-8 col-xs-12">
					<div class="tournament-info">
						<%= _('Payment') %> $<%= i.payment %>
						<div class="tournament-title"></div>
						<div class="tournament-date">
							20.01.17
						</div>
					</div>
				</div>
        <!--<div class="tournament-info">
          <table class="table table-condensed tour">
            <tr>
              <td><%= _('Payment') %></td>
              <td>$<%= i.payment %></td>
            </tr>
            <tr>
              <td><%= _('Teams') %></td>
              <td><%= i.teams.size %>/<%= i.max_team %></td>
            </tr>
            <tr>
              <td><%= _('Prize pool') %></td>
              <td>$<%= i.prize_pool %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= i.tournament_begins.strftime('%d/%m/%Y %H:%M') %></td>
            </tr>
          </table>
        </div>-->
      </div>
    </div>
    <% end %>
    <div class="col-lg-offset-1 col-lg-3 col-sm-4">
      <div class="news">
        <div class="title">News</div>
        <div class="post">
          <div class="post-title">Site is opened</div>
          <div class="post-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
        <div class="post">
          <div class="post-title">Site is opened</div>
          <div class="post-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
        <div class="post">
          <div class="post-title">Site is opened</div>
          <div class="post-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
