<div class="container">
  <div class="row">
    <div class="container">
      <div class="title"><%= _('Registration') %></div>
			<div class="cover" style="min-height:360px">
      	<div class="col-sm-4">
      	  <div class="tournament-info-sm">
						<ul class="list-group">
							<li class="list-group-item">Tournament #1</li>
	      	    <li class="list-group-item"><%= _('Prize pool') %>&nbsp;&nbsp;<span class="label label-warning">100$</span></li>
	      	    <li class="list-group-item"><%= _('Payment') %>&nbsp;&nbsp;<span class="label label-warning">10$</span></li>
	      	    <li class="list-group-item"><%= _('Date begin') %>&nbsp;&nbsp; 20.08.2017 14:30</li>
						</ul>
      	  </div>
      	  <% if current_user %>
      	  	<div id="pick-team">
 	    	    	<div class="btn-group btn-input clearfix team-select">
 	    	      <button class="btn btn-primary dropdown-toggle form-control" data-toggle="dropdown">
 	    	        <span data-bind="label"><%= _('Choose Team') %></span>&nbsp;<span class="caret"></span>
 	    	      </button>
 	    	      <ul class="dropdown-menu" id="request">
 							 <% current_user.teams.each do |i| %>
 							 	<li><a data-team-id="<%= i.id %>"><%= i.full_name %></a></li>
 							 <% end %>
 	    	     	</ul>
 	    	     </div>
    	        <button class="btn btn-primary btn-send" id="register"><%= _('Send') %></button>
						</div>
    	      <div id="team-detail">
    	      </div>
    	    <% else %>
    	      <div><%= _('To register for the tournament you need to be authorized') %></div>
    	      <%= link_to _('Login'), login_path %>
    	    <% end %>
    	  </div>
    	  <div class="col-sm-8">
    	    <div class="party-teams">
    	      <table class="table table-condensed">
    	        <thead>
    	          <tr>
    	            <th>#</th>
    	            <th></th>
    	            <th><%= s_('Team|Name') %></th>
    	          </tr>
    	        </thead>
    	        <tbody>
								<% @registered_team.each_with_index do |i, index| %>
    	          	<tr>
    	          	  <td><%= index+1 %></td>
    	          	  <td><img src="http://placehold.it/30" alt=""></td>
    	          	  <td><%= i.full_name %></td>
    	          	</tr>
    	          <% end %>
    	        </tbody>
    	      </table>
    	    </div>
    	  </div>
		</div>
    </div>
  </div>
</div>
