<div class="container-fluid">
	<div class="title">Finding team</div>
	<div class="cover">
		<div class="col-sm-3 col-xs-6 col-sm-offset-3"><%= link_to 'I have no team', '#',class: "btn btn-primary btn-sm btn-block" %></div>
		<div class="col-sm-3 col-xs-6"><%= link_to 'I already have team', '#',class: "btn btn-primary btn-sm btn-block" %></div>
	  <table class="table table-hover">
	    <thead>
	      <tr>
	    		<th><%= _('Name') %></th>
	    		<th><%= _('Elo') %></th>
					<th><%= _('Platform') %></th>
					<th><%= _('Role') %></th>
					<th><%= _('Heroes') %></th>
	    	</tr>
	    </thead>
	    <tbody>
      	<tr>
      		<td>SpiriKoN</td>
          <td>1258</td>
					<td>PC</td>
					<td>Offlane</td>
					<td>Steel, Kallari</td>
      	</tr>
      	<tr>
      		<td>user1</td>
          <td>1286</td>
					<td>PC</td>
					<td>Midlane</td>
					<td>Gideon, TwinBlast</td>
      	</tr>
      	<tr>
      		<td>user2</td>
          <td>1312</td>
					<td>PS4</td>
					<td>Offlane</td>
					<td>Avrora, Sevarog</td>
      	</tr>
	    </tbody>
	  </table>
	</div>
</div>
