<div class="container">
  <div class="row">
		<%= form_for(resource, as: resource_name, url: login_path, html: { class: "form-sign" }) do |f| %>
		
			<h2 class="form-signin-heading"><%= _('Please sign in') %></h2>
			<%= f.label :name, _('User name') , class: "sr-only" %>
			<%= f.text_field :name, placeholder: _('User name'), required: true, autofocus: true, class: "form-control" %>
			<%= f.label :password, _('Password') , class: "sr-only" %>
			<%= f.password_field :password, placeholder: _('Password'), class: "form-control" %>
			
		  <% if devise_mapping.rememberable? -%>
		      <%= f.check_box :remember_me %>
		      <%= f.label _('Remember me') %>
		  <% end -%>
		
		  <%= f.submit _('Sign in'), class: "btn btn-lg btn-primary btn-block" %>
				
			<%= render "devise/shared/links" %>
			
		<% end %>
	</div>
</div>
