<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <% @matches.each do |i| %>
        <div class="match-box">
          <div class="match-info"><%= i.match_begins %>
            <div class="pull-right event"></div>
          </div>
          <%= link_to match_path(i), class: "match-url" do %>
            <div class="match-main">
              <div class="match-left">
                <div class="main-team">
                  <b><%= i.teams[0].full_name if i.teams[0] %></b>
                  <img src="http://placehold.it/50x50" class="team-logo" style="float: right;"></img>
                </div>
                <b>VS</b>
                <div class="main-team">
                  <b><%= i.teams[1].full_name if i.teams[1] %></b>
                  <img src="http://placehold.it/50x50" class="team-logo" style="float: left;"></img>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
		<%= render 'shared/right_menu' %>
  </div>
</div>
