<div class="container">
  <div class="title"><%= _('Match') %> <%= @match.id %></div>
  <div class="row">
    <div class="container">
      <% @match.teams.each do |t| %>
        <%= @match.password if t.users.include? current_user %>
      <% end %>
      <div class="match-full">
        <% @match.teams.includes(:users).each do |i| %>
          <div class="col-sm-6">
            <div class="half-team">
              <div class="match-header">
                <img src="http://placehold.it/80" class="team-emblem">
                <b><%= i.full_name %></b>
              </div>
              <div class="team-player-match">
                <ul class="list-group">
                  <% i.users.each do |u| %>
                    <li class="list-group-item blue-border"><%= u.name %><!--&nbsp;&nbsp;<span class="label label-primary">Captain</span>-->
                      <div class="heroes">
                        <div class="hero"><img src="http://placehold.it/32"></div>
                        <div class="hero"><img src="http://placehold.it/32"></div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
