<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @posts.each do |i| %>
      <div class="post">
        <div class="row">
          <div class="col-sm-4 hidden-xs">
            <img src="http://placehold.it/216x120" class="img ">
          </div>
          <div class="col-md-8">
            <div class="content">
              <h3><a href="/posts/<%= i.id %>"><%= i.title %></a></h3>
              <div class="text"><%= raw i.content %></div>
              <div class="info"><%= i.created_at.strftime('%d/%m/%Y %H:%M') %></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-4 hidden-xs">
      <div class="right-menu">
        <ul>
				<div class="title subtitle"><%= _('Active matches') %></div>
          <li>Team 1 vs Team 6</li>
				<div class="title subtitle"><%= _('Match sticker') %></div>
          <li>Team 4 vs Team 9</li>
          <li>Team 5 vs Team 10</li>
				<div class="title subtitle"><%= _('Recent matches') %></div>
          <li>Team 11 vs Team 13</li>
          <li>Team 12 vs Team 14</li>
				</ul>
      </div>
      <div class="right-menu">
        <ul>
				<div class="title subtitle"><%= _('Active tournaments') %></div>
          <li>Tournament #1</li>
				<div class="title subtitle"><%= _('Tournaments sticker') %></div>
          <li>Tournament #2</li>
          <li>Tournament #3</li>
				<div class="title subtitle"><%= _('Recent tournaments') %></div>
          <li>Tournament #4</li>
          <li>Tournament #5</li>
				</ul>
      </div>
    </div>
  </div>
</div>
