<h1>Create new Post</h1>

<%= form_for Post.new do |p| %>

	<p>Title:		<%= p.text_field :title     %></p>
	<p>Text:	  <%= p.text_field :text      %></p>
	<p>Authort: <%= p.number_field :autorId %></p>

	<p><%= p.submit "Create Post" %></p>

<% end %>
