<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
  		<div class="title"><%= _('Post') %> #<%= @post.id %></div>
      <div class="blog">
        <div class="blog-title"><%= @post.title %></div>
        <div class="blog-info"><%= @post.created_at.strftime('%d/%m/%Y %H:%M') %></div>
        <div class="blog-body">
					<%= image_tag @post.image.url(:blog_post), class: "blog-image" %>
          <div class="blog-text">
						<%= raw @post.content %>
          </div>
        </div>
      </div>
    </div>
		<%= render 'shared/right_menu' %>
  </div>
</div>
