<div class="container">
  <div class="row">
    <div class="col-md-8">
  		<div class="title"><%= _('Post') %> #<%= @post.id %></div>
      <div class="blog">
        <div class="blog-title"><%= @post.title %></div>
        <div class="blog-info"><%= @post.created_at.strftime('%d/%m/%Y %H:%M') %></div>
        <div class="blog-body">
					<%= image_tag @post.image.url(:blog_post), class: "blog-image" %>
          <div class="blog-text">
						<%= raw @post.content %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 hidden-xs">
      <div class="right-menu">
        <ul>
				<div class="title subtitle"><%= _('Active matches') %></div>
          <li>Team 1 vs Team 6</li>
				<div class="title subtitle"><%= _('Match sticker') %></div>
          <li>Team 4 vs Team 9</li>
          <li>Team 5 vs Team 10</li>
				<div class="title subtitle"><%= _('Recent matches') %></div>
          <li>Team 11 vs Team 13</li>
          <li>Team 12 vs Team 14</li>
				</ul>
      </div>
      <div class="right-menu">
        <ul>
				<div class="title subtitle"><%= _('Active tournaments') %></div>
          <li>Tournament #1</li>
				<div class="title subtitle"><%= _('Tournaments sticker') %></div>
          <li>Tournament #2</li>
          <li>Tournament #3</li>
				<div class="title subtitle"><%= _('Recent tournaments') %></div>
          <li>Tournament #4</li>
          <li>Tournament #5</li>
				</ul>
      </div>
    </div>
  </div>
</div>
