<!DOCTYPE html>
<html>
  <head>
		
    <title>ParagonRails</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, async: true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="google-site-verification" content="KyfySNzoGJK-uKC5P_7X6_qk32BcsW2qdm1-bP3kRYo" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#responsive-menu">
            <span class="sr-only ">Open navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag "logo.gif" %></a>
        </div>
        <div class="collapse navbar-collapse" id="responsive-menu">
          <ul class="nav navbar-nav">
            <li><a href="/tournaments"><%= _('Tournaments') %></a></li>
            <li><a href="/users"><%= _('Profile') %></a></li>
            <li><a href="/teams"><%= _('Team') %></a></li>
            <li><a href="/matches"><%= _('Matches') %></a></li>
            <li><a href="/teams/new">NewTm</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
						<li id="divider"></li>
						<li>
							<span id="locale" class="glyphicon glyphicon-globe" style="color: white;float: left;margin-top: 15px;font-size:20px;margin-right: 10px;"></span>
							<ul class="dropdown-menu" id="locale_list" style="display: none">
								<%= locale_swither(FastGettext.available_locales) %>
               </ul>
            </li>
            <% if user_signed_in? %>
							<% unless team_invite.empty? %>
							<li>
								<span id="notify-cl" class="glyphicon glyphicon-envelope" style="color: white;float: left;margin-top: 15px;font-size:20px;margin-right: 10px;"></span>
								<div id="notify" class="notify" style="display: none">
									<% team_invite.each do |i| %>
                      <div class="notify-main">
                      	<input type="hidden" name="id" value="<%= i.id %>">
                        <b><%= link_to i.sender.name, user_path(i.sender) %></b>
                        invites you to the team
                        <b><%= link_to i.team.full_name, team_path(i.team) %></b>
                        <div class="notify-btn">
                          <a class="btn btn-warning btn-sm" value="false"><%= _('Reject') %></a>
                          <a class="btn btn-success btn-sm" value="true"><%= _('Accept') %></a>
                        </div>
                      </div>
                	<% end %>
                 </div>
                </li>
								<% end %>
							<li><%= link_to current_user.name, current_user, style: "color:#fff" %></li>
              <li><%= link_to raw("<span class='glyphicon glyphicon-log-out'></span>  #{_('Log out')}"), logout_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to raw("<span class='glyphicon glyphicon-log-in'></span> #{_('Log in')}"), login_path %></li>
              <li><%= link_to raw("<span class='glyphicon glyphicon-user'></span> #{_('Sign up')}"), register_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: "alert alert-success fade in", id: "success-alert") do %>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= key %>!</strong><%= value %>
      <% end %>
    <% end %>

    <%= yield %>
    <footer class="footer">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-3 col-centered">
								<h3>About</h3>
								<ul class="list-unstyled">
									<li><a href="#">Contact</a></li>
									<li><a href="#">Feedback</a></li>
									<li><a href="#">Tree on a lake</a></li>
									<li><a href="#">Don’t stop questioning</a></li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-centered">
									<h3>Latest news</h3>
									<ul class="list-unstyled">
										<li><a href="#">Solace of a lonely highway</a></li>
										<li><a href="#">Write with purpose</a></li>
										<li><a href="#">Tree on a lake</a></li>
										<li><a href="#">Don’t stop questioning</a></li>
									</ul>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-centered">
									<h3>Language</h3>
									<ul class="list-unstyled">
										<li><a href="#">English</a></li>
										<li><a href="#">Українська</a></li>
										<li><a href="#">Русский</a></li>
										<li><a href="#">Polski</a></li>
									</ul>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-centered">
									<h3>Latest Tournament</h3>
									<ul class="list-unstyled">
										<li><a href="#">Solace of a lonely highway</a></li>
										<li><a href="#">Write with purpose</a></li>
										<li><a href="#">Tree on a lake</a></li>
										<li><a href="#">Don’t stop questioning</a></li>
									</ul>
							</div>
						</div>
					</div>
				<section style="background-color:#28354f">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="social">
									<a href="#" class="social-icon twitter"><span>TW</span></a>
									<a href="#" class="social-icon facebook"><span>FB</span></a>
									<a href="#" class="social-icon vk"><span>VK</span></a>
								</div>
								<p style="text-align: center">Copyright © 2016 RailsParagon</p>
							</div>
						</div>
					</div>
				</section>
    </footer>
  </body>
</html>
